.sm{
    display: grid;
    justify-content: center;
    padding: 10px 30px;
}

.sm_card{
    padding: 10px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    width: 50%;
    
 }

 @media only screen and (min-width: 568px) and (max-width: 991px) {
    .sm_card{
        display: grid;
        grid-template-columns: 1fr;
    }
  }


.sm_img{
    width: 100%;
}
.sm_name_language{
    padding-left: 20px;
}
.sm_btn{
    margin-top: 15px;
}

/*--------------------
    common css 
--------------------- */
.btn{
    border: 1px solid rgb(100, 106, 112);
    border-radius: 5px;
}
.btn:hover{
    border: 1px solid rgb(100, 106, 112);
    background: #f0f0f0;
}

.section_title{
    text-align: center;
    font-weight: bold;
}

/* ----------------- */
.table_div{
    border: 1px solid rgb(241, 241, 241);
    border-radius: 10px;
    padding: 10px;
}

.table{
    /* border: 1px solid; */
    padding: 10px;

}
.tr{
    border-top: 1px solid rgb(235, 235, 235);


}
.tr:hover{
    background-color: #f0f0f0;
}
.trh{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f0f0f0;
}
.td{
    padding-left: 5px;
}


